.about-banner {
    width: 71%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
        width: 86%;
    }
}

.about-banner {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
        border-radius: 25px;
    }
}

.about {
    width: 86%;
    margin: 0 auto;
}